@model Eproject3.Models.Lab 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            @* <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Labs v1</li>
            </ol> *@
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <section class="content">
        <div class="container-fluid">
            @*<a asp-action="Create">Create new Labs</a>*@
          <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Device Type</th>
                            <th>Brand</th>
                            <th>Status</th>
                            <th>Date Maintaince</th>
                            @*<th>Action</th>*@ 
                        </tr>
                    </thead>
                    <tbody>
                           @foreach (var item in Model.Devices)
                            {
                              <tr>
                                <td>@item.DeviceName</td>  
                                <td>@item.DeviceType</td>  
                                <td>@item.Supplier.SupplierName</td>  
                                <td>@item.Status</td>  
                                <td>@item.DateMaintance</td>   
                                @*<td>
                                  <a asp-action="Delete" asp-route-id="@item.LabsId" class="btn btn-danger">Delete</a>
                                  <a asp-action="Details" asp-route-id="@item.LabsId" class="btn btn-primary">See more</a>
                                </td>*@
                              </tr>
                            } 
                    </tbody>
                
                </table>
          </div>
        </div>
    </section>
</div>