@model List<Eproject3.Models.Lab>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Admin? user = Context.Items["User"] as Admin;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                <!-- /.col -->
                @if (user?.Role == "admin")
                {
                        <div class="col-sm-6 text-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a asp-action="Create" asp-controller="Labs" class="btn btn-outline-success">
                                        <i class="fas fa-laptop-medical"></i> Create New Labs
                                    </a>
                                </li>
                            </ol>
                        </div>

                    <!-- /.col -->
                }
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive">
                            <table class="table table-bordered table-hover text-nowrap" id="adminTable">
                                <thead>
                                    <tr>
                                        <th>Labs Number</th>
                                        <th>Labs Name</th>
                                        <th>Teacher</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.LabsId</td>
                                            <td>@item.LabsName</td>
                                            <td>@string.Join(", ", item.Slots.Select(s => s.Admins.AdminName))</td>
                                            <td>
                                            @if (user?.Role == "admin")
                                            {
                                                <a asp-action="Delete" asp-route-id="@item.LabsId" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete</a>
                                            }
                                                <a asp-action="DevicesList" asp-route-id="@item.LabsId" class="btn btn-outline-primary"><i class="fas fa-circle-info"></i> See more</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#adminTable").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "language": {
                    "paginate": {
                        "next": "<i class='fas fa-chevron-right'></i>",
                        "previous": "<i class='fas fa-chevron-left'></i>"
                    }
                }
            });
        });
    </script>