@model Eproject3.Models.MaintainceDevice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Admin? user = Context.Items["User"] as Admin;
}

<h1>Details</h1>
<div class="content-wrapper">
    <div class="container">
        <div>
            <div class="card">
                <div class="card-header">
                    <h4>MaintainceDevice</h4>
                    <hr />
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Descriptions)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Descriptions)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Reason)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Reason)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-10">
                            @if(Model.Step == 4 && Model.Step != -99){
                                <span class="badge bg-success">Completed</span>
                            }else{
                                <span class="badge bg-primary">@Html.DisplayFor(modelItem => Model.Status)</span>
                            } 
                            @if(Model.Step == -99){
                                <span class="badge bg-danger">Rejected</span>
                            }  
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Creater)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Creater)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Devices)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Devices.DevicesId)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div>
            @if(Model.Step != 4 && Model.Step != 99){
            <a asp-action="Approve" asp-route-id="@Model.MaintnId" class="btn btn-success">Approve</a>
            <a asp-action="DisApprove" asp-route-id="@Model.MaintnId" class="btn btn-danger">DisApprove</a>
            }
            @if (user?.Role == "maintainer")
            {
                <a class="btn btn-light" asp-action="ListForMaintainer">Back to List</a>
                
            }
            else
            {
                <a class="btn btn-light" asp-action="Index">Back to List</a>
            }
            
        </div>
    </div>
</div>

