@model IEnumerable<Eproject3.Models.MaintainceDevice>

@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="content-wrapper">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>ListUser</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descriptions)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Reason)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Creater)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Devices)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descriptions)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Creater)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Devices.DevicesId)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

